# Environments
.env
.venv
env/
venv/
ENV/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Temporary files & logs
*.log
tmp/
temp/
*.pdf
*.jpg
*.jpeg
*.png

# IDE configs
.vscode/
.idea/